/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Light Cyan: hsl(193, 38%, 86%)
- Neon Green: hsl(150, 100%, 66%)

### Neutral

- Grayish Blue: hsl(217, 19%, 38%)
- Dark Grayish Blue: hsl(217, 19%, 24%)
- Dark Blue: hsl(218, 23%, 16%)

## Typography

### Body Copy

- Font size (quote): 28px

### Font

- Family: [Manrope](https://fonts.google.com/specimen/Manrope)
- Weights: 800 */

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
:root {
    --lightBlue: hsl(193, 38%, 86%);
    --neonGreen: hsl(150, 100%, 66%);
    --grayishBlue: hsl(217, 19%, 38%);
    --darkGrayishBlue: hsl(217, 19%, 24%);
    --darkBlue: hsl(218, 23%, 16%);
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: var(--darkBlue);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.card {
    background-color: var(--darkGrayishBlue);
    color: var(--lightBlue);
    height: 20rem;
    width: 32rem;
    min-width: 330px;
    padding: 2rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
   
    justify-content: space-between;
    align-items: center;
    position: relative;
    text-align: center;
}

#advice {
    font-weight: 600;
}

#adviceBtn {
height: 50px;
width: 50px;
border-radius: 50%;
border: none;
background-color: var(--neonGreen);
transition: .3s ease-out;
position: absolute;
bottom: -25px;
z-index: 1;
}

#adviceBtn:hover {
    cursor: pointer;
    box-shadow: 0px 0px 15px 8px var(--neonGreen);
}

.neon {
    color: var(--neonGreen);
}
picture { margin: 10px; }

@media screen and (max-width: 576px) {
    .card {
        width: 350px;
        height: 20rem;
        padding: 1.5rem;
        text-align: center;
    }

    h1 {
        font-size: 1.7rem;
    } 

}